html {
  background: transparent;
}

.Chrome {
  border-bottom: solid 1px hsl(0, 0%, 86%);
}

.Chrome__controls.columns {
  padding: 4px;
  margin-top: 0;
  margin-bottom: 0;
}

.Chrome__controls .column {
  padding-top: 0;
  padding-bottom: 0;
}

.Chrome__tabs:not(:last-child) {
  margin: 0;
}

.Chrome__tabs.tabs.is-toggle li:first-child a,
.Chrome__tabs.tabs.is-toggle li:last-child a {
  border-radius: 0;
}

.Chrome__tabs.is-fullwidth .Chrome__newTabButton {
  flex: 0;
  min-width: auto;
}

.Chrome__tabs li:not(.is-active) a {
  border-bottom-color: transparent;
}

.tabs .Chrome__newTabButton a {
  width: 2rem;
  height: 2rem;
  border-right-color: transparent;
}

.tabs .Chrome__newTabButton a > span:first-child {
  overflow: visible;
}
