html {
  background: transparent;
}

.Chrome {
  border-bottom: solid 1px hsl(0, 0%, 86%);
}

.Chrome__controls.columns {
  padding: 4px;
  margin-top: 0;
  margin-bottom: 0;
}

.Chrome__controls .column {
  padding-top: 0;
  padding-bottom: 0;
}

.Chrome__tabs:not(:last-child) {
  margin: 0;
}

.Chrome__tabs.tabs.is-toggle li:first-child a,
.Chrome__tabs.tabs.is-toggle li:last-child a {
  border-radius: 0;
}

.Chrome__tabs.is-fullwidth .Chrome__newTabButton {
  flex: 0;
  width: 2rem;
}
